XML/Personas/Examen2.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xsi:noNamespaceSchemaLocation="Examen.xsd">
  <xs:element name="EmpresaRecursosHumanos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CV">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="datosPersonales">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nombre" />
                    <xs:element name="primerApellido" />
                    <xs:element name="segundoApellido" />
                    <xs:element name="telefono" />
                    <xs:element name="email" />
                    <xs:element name="direccion">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="calle" />
                          <xs:element name="localidad" />
                          <xs:element name="codigoPostal" type="CP" />
                          <xs:element name="provincia" />
                          <xs:element name="pais" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="redesSociales">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="nombre" />
                          <xs:element name="nick" />
                          <xs:element name="enlace" />
                          <xs:element name="valoracion" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="datosAcademicos">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="titulosOficiales">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="descripcion" />
                          <xs:element name="organismoResponsable" />
                          <xs:element name="fechaInicio" />
                          <xs:element name="fechaFinal" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="cursos">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="descripcion" />
                          <xs:element name="organismoResponsable" />
                          <xs:element name="fechaInicio" />
                          <xs:element name="fechaFinal" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="nivelDeIdioma">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="comprender" type="nivel"/>
                          <xs:element name="hablar" type="nivel"/>
                          <xs:element name="escribir" type="nivel"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="experienciaLaboral">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="empresas" />
                    <xs:element name="fechas" />
                    <xs:element name="tareasDesempeñadas" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required" />
            <xs:attribute name="fechaPresentacion" type="xs:date" use="required" />
            <xs:attribute name="categoria" type="xs:string" use="required" default="Desarrolador"/>
            <xs:simpleType name="nivel">
              <xs:resticition base="xs:string">
                <xs:enumeration value="A1"/>
                <xs:enumeration value="A2"/>
                <xs:enumeration value="B1"/>
                <xs:enumeration value="B2"/>
                <xs:enumeration value="C1"/>
                <xs:enumeration value="C2"/>
              </xs:resticition>
            </xs:simpleType>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>